{% extends 'index.html' %} 

{% block static %} 
    {% load static %} 
{% endblock static %} 

{% block titleanddescription %}
<title>Al Fortino Instagram Bot</title>
<meta name="description" content="" />
{% endblock titleanddescription %} 

{% block content %}
<section class="home-section">
  <div class="login-box login-box-home">
    {% if messages %} 
        {% for message in messages %}
            <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
              {{message}}
            </li>
        {% endfor %}
    {% endif %}
    {% if error %}
      <p>{{ error }}: <a href="{{ checkpoint_url }}" target="_blank">Completar checkpoint</a></p>
    {% endif %}

    <a class="icon-close"  href="{% url 'logout' %}">
        <ion-icon  name="close"></ion-icon>
    </a>

    <form class="form-home" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="hero-from">
        <img src="{% static 'accets/favicon.png' %}" alt="InstaBot" />
        <h3 class="title-form">InstaBot</h3>
      </div>
      <div class="content-form">
        <div class="content-inputs"> 
          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="text" name="user" required />
            <label for="">User Instagram</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="key"></ion-icon></span>
            <input type="password" name="password" required />
            <label for="">Password Instagram</label>
          </div>
        </div>
        <div class="content-inputs">
          <div class="check-home">
            <label><input type="radio" name="type-match" value="image" checked />Image</label>
            <label><input type="radio" name="type-match" value="video" disabled/>Video</label>
          </div>
          <div class="input-file-container">  
            <input class="input-file" id="my-file" name="my_file" type="file">
            <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
          </div>
          <p class="file-return"></p>
          <div class="textarea-box">
            <textarea name="usersToTest" required placeholder="Place the users to be checked separated by commas...." tabindex="5"></textarea>
          </div>
        </div>
      </div>
      <button type="submit">Check Matches</button>
    </form>
  </div>
</section>
{% endblock content %}
