@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url("../accets/backgroud-login.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  animation: animateBackground 10s linear infinite;
}

.home-section {
  flex-direction: column;
  gap: 15px;
  background: url("../accets/backgroud-home.jpg") no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  animation: none !important;
  h2 {
    font-size: 1em !important;
  }
  img {
    width: 50px;
    filter: drop-shadow(0 0 1px #fff);
  }
}

.hero-from {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 1.5em;
}

@keyframes animateBackground {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.login-box {
  position: relative;
  width: 380px;
  height: 420px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-in-bottom 1s 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
  }
  .input-box {
    position: relative;
    width: 320px;
    margin: 30px 0px;
    border-bottom: 2px solid #fff;

    .icon {
      position: absolute;
      top: 14px;
      right: 8px;
      color: #fff;
      font-size: 1em;
    }

    input {
      width: 100%;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      color: #fff;
      padding: 0 35px 0 5px;

      &:focus ~ label,
      &:valid ~ label {
        top: -5px;
      }
    }
    label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      color: #fff;
      font-size: 1em;
      pointer-events: none;
      transition: 0.5s;
    }
  }
  .remember-forgot {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    label {
      display: flex;
      align-items: center;
      input {
        margin-right: 3px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    margin-top: 15px;
    transition: 0.5s;

    &:hover {
      transform: scale(0.98);
    }
  }
  .contact-link {
    font-size: 0.8em;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    p {
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.login-box-home {
  animation: none !important;
  height: auto;
  padding: 30px 0px;
}

.check-home {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  label {
    display: flex;
    align-items: center;
    input {
      margin-right: 3px;
    }
  }
}

.input-file-container {
  position: relative;
  width: 225px;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  border-radius: 5px;
  background: #39d2b4;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495e;
  color: #39d2b4;
}

.file-return {
  margin: 0;
  max-width: 320px;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
.textarea-box {
  min-width: 100%;
  padding: 0;
  width: 100%;
  margin-top: 15px;
}

textarea {
  width: 100%;
  height: 100px;
  max-width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px;
  resize: none;
  color: #fff;
  font-size: 1em;

  &::placeholder {
    color: #fefefea3;
    font-size: 1em;
  }

  &:focus {
    outline: none;
  }
}

.alert {
  position: absolute;
  bottom: -60px;
  padding: 2px 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  list-style: none;
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
}
.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}
.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.alert-primary .alert-link {
  color: #06357a;
}
.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.alert-secondary .alert-link {
  color: #34383c;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-success .alert-link {
  color: #0c4128;
}
.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.alert-info .alert-link {
  color: #04414d;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.alert-warning .alert-link {
  color: #523e02;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}
.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f5050;
}
.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
.alert-dark .alert-link {
  color: #101214;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .tables-results {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
  }
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }
}
